<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                color: rgb(139, 238, 74);
                background: black;
                text-align: center;
                height: 500px;
            }

            body p{
                top: 30%;
                display: block;
                position: relative;
            }

            .text {
                top: 40%;
            }
        
        </style>
    </head>

    <body>
        <p>hola, el input es: {{ appname }}</p>
        
    </body>
</html>


